<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectSchedule"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".executive.ProjectsEx"
            android:exported="false" />
        <activity
            android:name=".executive.DashboardEx"
            android:exported="false" />
        <activity
            android:name=".manager.ScheduleProject"
            android:exported="false" />
        <activity
            android:name=".manager.Schedules"
            android:exported="false" />
        <activity
            android:name=".manager.AddTask"
            android:exported="false" />
        <activity
            android:name=".manager.UpdateProject"
            android:exported="false" />
        <activity
            android:name=".manager.DetailProject"
            android:exported="false" />
        <activity
            android:name=".manager.AddProject"
            android:exported="false" />
        <activity
            android:name=".manager.ProjectsActivity"
            android:exported="false" />
        <activity
            android:name=".manager.UpdateUser"
            android:exported="false" />
        <activity
            android:name=".manager.AddUser"
            android:exported="false" />
        <activity
            android:name=".manager.UsersActivity"
            android:exported="false" />
        <activity
            android:name=".manager.DashboardmActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>